body {
	font-family: sans-serif;
}

/* The Modal (background) */
.modal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 100px;
	width: 70%; /* Full width */
	height: 20%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
}
h3 {
	color: rgb(206, 31, 31);
}

/* Modal Content */
.modal-content {
	background-color: #ffffff;
	margin: auto;
	padding: 20px;
	border: 3px solid rgb(189, 18, 18);
	border-radius: 7px;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}

/* The Close Button */
.close {
	color: rgb(247, 247, 247);
	font-size: 18px;
	font-weight: bold;
	background-color: rgb(7, 134, 253);
	border: none;
	border-radius: 5px;
	padding: 10px;
}

.close:hover,
.close:focus {
	color: rgb(255, 255, 255);
	text-decoration: none;
	cursor: pointer;
	background-color: rgb(16, 54, 126);
}

/* ---------------------------------- TIMER --------------------------------- */
#timer {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 20px;
	top: 70px;
	width: 70%; /* Full width */
	height: 20%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
}

#my_timer {
	color: rgb(252, 252, 252);
	font-size: 150%;
	font-weight: bold;
}
#label {
	color: rgb(156, 30, 30);
	font-size: 150%;
	font-weight: bold;
}

#best_timer {
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	left: 20px;
	top: 100px;
	width: 70%; /* Full width */
	height: 20%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
}

#bestmy_timer {
	color: rgb(252, 252, 252);
	font-size: 150%;
	font-weight: bold;
}

#best_label {
	color: rgb(156, 112, 30);
	font-size: 150%;
	font-weight: bold;
}
/* ---------------------------------- TIMER --------------------------------- */

/* ------------------------------- Pause Modal ------------------------------ */
/* The Modal (background) */
.pmodal {
	display: none; /* Hidden by default */
	position: fixed; /* Stay in place */
	z-index: 1; /* Sit on top */
	padding-top: 100px; /* Location of the box */
	left: 0;
	top: 100px;
	width: 70%; /* Full width */
	height: 20%; /* Full height */
	overflow: auto; /* Enable scroll if needed */
}
#pauseTitle {
	color: rgb(77, 133, 45);
}

/* Modal Content */
.pauseModal-content {
	background-color: #ffffff;
	margin: auto;
	padding: 20px;
	border: 3px solid green;
	border-radius: 7px;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: space-around;
}
